module "{{ .Name }}" {
    source = "path/to/{{ .Name }}"

    {{ range $i, $var := .Variables -}}
    {{ if ne $var.Description "" -}}
    // {{ $var.Description }}
    {{ end -}}
    {{ if $var.Default -}}
    {{ $var.Name }} = {{ $var.Default -}}
    {{ else -}}
    {{ $var.Name }} = {{ convertTypeToLiteral $var.Type -}}
    {{ end }}
    {{ end }}
}
