{{ range $i, $var := .Variables }}
{{- if ne $var.Description "" }}
  // {{ $var.Description -}}
{{ end -}}
{{ if ne $var.Default nil }}
  {{ $var.Name }} = {{ $var.Default -}}
{{ else }}
  {{ $var.Name }} = {{ getDefaultValueByType $var.Type -}}
{{ end -}}
{{ end -}}
